body {
  width: 100vw;
  height: 100vh;
}

.containerDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 100%;
}

.container > .box {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: red;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
  color: rgb(221, 205, 38);
}